@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Redressed&family=Titillium+Web:wght@300&display=swap");
/* 
body {
  background-color: #ffe8e8;
} */

.MatchContainer {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}

.matchSection {
  display: flex;
  justify-content: space-around;
}

.matchHeading {
  color: #4e4242;
  margin: 30px;
  font-family: "Titillium Web", sans-serif;
}

.matchList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 490px;
  max-height: 350px;
}

.profile {
  /* width: 100%;
  height: auto;
  min-width: 1000%; */
}

.profileImg {
  position: relative;
  min-width: 350px;
  min-height: 450px;
}

.profileImg img {
  max-width: 350px;
  height: auto;
  width: 100%;
  /* border: 4px solid #707070; */
  border-radius: 20px;
  box-shadow: 5px 3px 15px #101010;
}

.profileImg .conBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.profileImg .conBtn p {
  font-size: 20px;
}

.profileDesc {
  font-family: "Assistant", sans-serif;
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
}

.profile p {
  margin: 0;
  font-size: 0.6rem;
}

.profileSelect img {
  width: 140px;
  height: 130px;
  border-radius: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #5e5e5e;
}

.profileBtn {
  font-family: "Assistant", sans-serif;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #5e5e5e;
  outline: none;
  border-radius: 100%;
  margin: 0 5px;
}

.profileBtnList {
  margin: 20px 0;
  margin-bottom: 0;
}

.profileBtn:focus {
  outline: none;
}

.listTemp {
  font-family: "Assistant", sans-serif;
  width: 140px;
  height: 130px;
  background-color: white;
  border-radius: 40%;
  /* margin-right: 20px; */
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid #5e5e5e;
}

.listTemp > p {
  font-size: 3rem;
  color: darkgray;
  margin: 0;
  align-self: center;
}

/* .listTemp img {
  width: 130px;
  height: 120px;
  border-radius: 40$;
} */

/*ddd*/
.m-nav {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;
  transition: all 1s;
  font-family: "Nunito", sans-serif;
  border-bottom: 0.7px solid rgb(85, 85, 85);
  box-shadow: 0px 3px 5px #757575;
}
.m-nav .container-fluid {
  display: flex;
  justify-content: space-around;
}

.m-nav .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.15rem;
}

.m-nav li.nav-item {
  list-style: none;
}

#pro_pic::before {
  background-color: transparent;
}

.m-nav li.nav-item a {
  text-decoration: none;
  font-family: "Assistant", sans-serif;
  color: black;
}

#chat {
  font-weight: 700;
}

#chat:hover::after {
  opacity: 1;
  bottom: 52%;
}

#chat::after {
  content: "Chat";
  position: absolute;
  right: calc(-20px + -100%);
  bottom: 30%;
  opacity: 0;
  transform: translate(0, 50%);
  transition: all 0.3s ease-in-out;
}

.yourProfile {
  font-weight: 700;
}

.yourProfile img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}

.yourProfile::before {
  content: "Your";
  position: absolute;
  left: calc(0px + -100%);
  bottom: 30%;
  opacity: 0;
  transform: translate(0, 50%);
  transition: all 0.3s ease-in-out;
}

.yourProfile::after {
  content: "Profile";
  position: absolute;
  right: calc(-12px + -100%);
  bottom: 30%;
  opacity: 0;
  transform: translate(0, 50%);
  transition: all 0.3s ease-in-out 0.15s;
}

.yourProfile:hover::before,
.yourProfile:hover::after {
  opacity: 1;
  bottom: 50%;
}

.m-nav .navbar-brand {
  font-family: "Redressed", cursive;
  color: black;
  font-size: 1.8rem;
  margin: auto 20vw;
}

/* .modale {
  transition: transform 0.3s ease-out;
} */

.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.opened:before {
  display: block;
}
.opened .modalContent {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modalContent {
  background: transparent;
  perspective: 150em;
  width: 400px;
  height: 500px;
  border: #333333 solid 0px;
  margin-left: -200px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  border-radius: 20px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modalContent img {
  position: relative;
  /* max-height: 500px;
  width: auto; */
  width: 400px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 1s ease-in;
}

.Card {
  backface-visibility: hidden;
  position: absolute;
  transition: all 0.8s ease;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 12;
}

.card-back {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  transform: rotateY(180deg);
  background-color: whitesmoke;
  z-index: 12;
  visibility: hidden;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.card-back .content {
  position: relative;
  top: 50%;
  left: 10%;
  transform: translateY(-50%) translateZ(150px);
  max-width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.modalContent:hover {
  cursor: pointer;
}

.flip-front {
  transform: rotateY(-180deg);
}

.flip-back {
  transform: rotateY(0deg);
  visibility: visible;
}

/* .modalContent:hover .card-front {
  transform: rotateY(-180deg);
}

.modalContent:hover .card-back {
  transform: rotateY(0deg);
} */

.profileImg .upArr,
.profileImg .downArr {
  z-index: 10;
}

.upArr,
.downArr {
  position: absolute;
  color: white;
  z-index: 12;
  font-size: 20px;
}

.upArr:hover,
.downArr:hover {
  cursor: pointer;
}

.upArr {
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}

.downArr {
  bottom: 15px;
  right: 50%;
  transform: translate(50%, 0);
}

.rightArrDiv {
  background-color: #161616;
  border-radius: 100%;
  position: absolute;
  bottom: 20%;
  right: 5%;
  z-index: 13;
}

.rightArr {
  position: relative;
  z-index: 13;
  color: white;
  /* background-color: #161616;
  border: 1px solid #3f3f3f; */
  padding: 10px;
  transition: all 0.3s ease-in;
}

.flip-left {
  transform: rotateY(-180deg);
}

@media (max-width: 468px) {
  html,
  body {
    min-height: 100%;
    height: 100%;
  }
  .MatchContainer {
    height: auto;
  }

  .matchSection {
    flex-direction: column;
  }

  .matchList {
    padding: 10px;
  }

  .listTemp {
    width: 100px;
    height: 110px;
  }

  .profileImg {
    position: relative;
    min-width: 315px;
    min-height: 420px;
    width: 300px;
    height: 420px;
    left: 50%;
    transform: translateX(-50%);
  }

  .downArr {
    bottom: 30px;
  }

  .opened .modalContent {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .yourProfile {
    font-size: 17px;
  }

  .profileSelect img {
    width: 100px;
    height: 110px;
  }
}

/* .swipeImage {
  transform: translateZ(50px);
}

.card-front {
  transform-style: preserve-3d;
} */
/* .modalContent {
  transform-style: preserve-3d;
}

.card-front {
  transform: translateZ(-35px);
}

.card-back {
  transform: translateZ(35px);
} */

/*
.nav-item {
  position: relative;
  padding: 0;
  display: flex;
  overflow: visible;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.55rem;
} */

/* .navbar-nav li {
  margin: 0px 0rem;
} */
