@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.chatContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Roboto", sans-serif;
  /* display: grid;
    grid-template-rows: 50px auto 30px; */
  background: rgb(248, 186, 186);
  background: linear-gradient(
    0deg,
    rgba(248, 186, 186, 1) 9%,
    rgba(255, 240, 240, 1) 94%
  );
}

#chat.container {
  margin: 0;
  /* padding: 0; */
}

#chat .row {
  width: 100vw;
}

/* LEFT SIDE | Contacts */
.leftComp {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.backMatch {
  font-weight: 700;
  font-size: 18px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px;
}

.backMatch i {
  font-size: 14px;
}

.backMatch::before {
  content: "";
  width: 0px;
  background-color: maroon;
  height: 5px;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease;
  left: 50%;
  transform: translateX(-50%);
}

.backMatch:hover::before {
  width: 100%;
}

.backMatch:hover {
  cursor: pointer;
}

.yourChatProfile {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: "Titillium Web", sans-serif;
  /* flex-grow: 1; */
  /* justify-content: space-between; */
}

.yourChatProfile img {
  width: 82px;
  height: 82px;
  border-radius: 100%;
  margin-right: 20px;
}
.yourChatProfile p {
  margin: 0;
  font-weight: 300;
}
.yourChatProfile h4 {
  font-weight: 600;
  font-size: 18px;
  position: relative;
  top: 4px;
}
.yourChatProfile .profDets {
  position: absolute;
  bottom: 0;
}

.matches {
  flex-grow: 1;
  background-color: white;
  border-radius: 20px;
  padding: 15px 0px;
  margin: 20px 0;
  margin-bottom: 30px;
  position: relative;
  overflow-y: scroll;
  /* border: 5px solid white; */
}

.matches::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
}

.matches::-webkit-scrollbar-track {
  margin: 7px 0;
}

.matches::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: #302e2fb4;
}

.matches .text-center {
  margin-top: 10px;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, -50%);
}

.matches .text-center::before {
  content: "";
  height: 0.4px;
  width: 200%;
  right: 50%;
  transform: translate(50%, 0);
  position: absolute;
  bottom: -5px;
  background-color: black;
}

.matches .conv {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  padding: 15px 20px;
  transition: ease-in 0.3s all;
}

.matches .conv:hover {
  background-color: #e0abab;
  cursor: pointer;
  box-shadow: 2px 1px 2px rgb(34, 34, 34);
}

.matches .conv img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
.matches .conv > div {
  flex-grow: 1;
  padding-top: 5px;
  position: relative;
}

.matches .conv > div div:nth-of-type(2) {
  font-weight: 300;
  font-size: 14px;
}
.matches .conv > div div:nth-of-type(1) {
  font-weight: 600;
}

.matches .conv > div div:nth-of-type(3) {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 10px;
}

/* #convo1 {
  scale: 1;
  box-shadow: 2px 1px 2px rgb(34, 34, 34);
} */

/*Right Side | Messages */
.rightComp {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chatWSomeone {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatWSomeone * {
  display: block;
}

.chatWSomeone h3 {
  font-weight: 600;
  font-size: 3rem;
}

.matchProf {
  margin-top: 20px;
  width: 100%;
  background-color: #e0abab;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 15px 10px;
  border-radius: 20px;
}

.matchProf img {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  margin-right: 10px;
}

.matchProf > div {
  flex-grow: 1;
  position: relative;
}

.matchProf > div * {
  margin: 0;
}

.matchProf > div h3 {
  font-weight: 600;
  font-size: 24px;
}
.matchProf > div p {
  font-size: 12px;
}
#messages {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.msg {
  max-width: 40%;
  padding: 15px;
  border-radius: 30px;
  background-color: cornflowerblue;
  margin: 10px;
}

.ogUser {
  align-self: flex-end;
}

.otherUser {
  align-self: flex-start;
}
.messageBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.messageBox textarea {
  width: 100%;
  border: 0;
  outline: none;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 6px 15px;
  max-height: 36px;
  resize: none;
}

.messageBox textarea::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
}

.messageBox textarea::-webkit-scrollbar-track {
  margin: 7px 0;
}

.messageBox textarea::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: #302e2fb4;
}

.messageBox button {
  background-color: white;
  border: 0;
  outline: none;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.messageBox button i {
  color: #5c2c2c;
  padding: 0 10px;
}

@media (max-width: 468px) {
  .chatContainer {
    height: 200vh;
  }
}
